@tailwind base;
@tailwind components;
@tailwind utilities;

/* Você pode adicionar estilos globais personalizados aqui */
html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #484848; /* Cor de texto padrão */
}

/* Outros estilos globais */
